/* impostazioni generali pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parte principale dello shop  */
main {
  margin: 0 auto;
  width: 1000px;
  height: 789px;
  border: 1px solid black;
}
.row {
  width: 910px;
  height: 372px;
  /* il margine bottom della prima riga non si somma al margine top della seconda */
  margin: 15px auto 15px;
}

/* singoli prodotti */
.item {
  width: 300px;
  height: 372px;
  display: inline-block;
  position: relative;
}

/* sconti */
.sale {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.green::before {
  content: "-30\0025";
}
.red::before {
  content: "-5\0025";
}

/* cuore */
.heart {
  display: none;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: red;
}
.heart::before {
  content: "\2665";
}
.item:hover .heart {
  display: block;
}
