/* impostazioni generali pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* parte principale dello shop  */
main {
  margin: 0 auto;
  width: 1000px;
  height: 800px;
  border: 1px solid black;
}
.row {
  width: 920px;
  height: 372px;
  margin: 15px auto 15px;
}
/* singoli prodotti */
.item {
  width: 300px;
  height: 372px;
  display: inline-block;
  position: relative;
}

/* sconti */
.sale {
  position: absolute;
  top: 0;
  right: 0;
}
.green::before {
  content: "-30\0025";
  background-color: green;
}
.red:before {
  content: "-5\0025";
  background-color: red;
}

/* cuore */
.heart {
  position: absolute;
  bottom: 0;
  left: 150px;
  display: none;
}
.heart::before {
  content: "\2665";
  font-size: 20px;
  color: red;
}
.item:hover .heart {
  display: block;
}
